.color-swatch {
	background-color: #574d40;
	height: 200px;
	width: 200px;
}


button {
	background-color: #af9b81;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	width: 100px;
}

.hex-value {
	width: 70px;
}


.random-rainbow-app {
	background-color:#679c4d;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	flex-direction: column;
	
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .random-rainbow-app {
    	flex-direction: row;
	}
}

body {
	background-color: #574d40;
	margin: 0px;
	padding: 0px;
}


header {
	background-color: #daf4b5;
	color: #679c4d;
	height: 70px;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	width: 100%;
}