.color-swatch {
	background-color: #574d40;
	height: 200px;
	width: 200px;
}


button {
	background-color: #af9b81;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	width: 100px;
}

.hex-value {
	width: 70px;
}

.new-color-button {
	margin: 10px;
}

.main {
	background-color:#679c4d;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}


@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .main {
    flex-direction: column;
	}
}

body {
	background-color: #574d40;
	margin: 0px;
	padding: 0px;
}


header {
	background-color: #daf4b5;
	height: 70px;
	padding-left: 20px;
	width: 100%;
}